{% extends 'base.html.twig' %}

{% block title %}Book - {{ book.title }}{% endblock %}

{% block body %}
    <h2>{{ book.title }}</h2>

    <h2>Add your own feedback</h2>

    {{ form(comment_form) }}
{% endblock %}